<input class="bs-select__hidden-input" type="text" ng-focus="focusSelect()" ng-blur="onBlur($event)" ng-keydown="keyDown($event)"/>
<div class="bs-select" ng-click="!disabled && toggleDialog()" ng-class="{'+disabled': disabled}">
	<div class="bs-select__selected">
	</div>
	<div class="bs-select__icon">
	</div>
</div>
<ul class="bs-select__menu bss-dropdown-menu" role="menu" ng-show="showDialog">
	<li ng-mousedown="updateModel(item)" ng-repeat="item in collection" ng-class="{'+selected': (selectedIndex === $index)}">
		<a>{{item.value}}</a>
	</li>
</ul>
